<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户反馈-投诉建议</title>
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1453964335_3456287.css">
	<link rel="stylesheet" href="stylesheets/admin.css">
	<script src="/javascripts/jquery.js">
	</script>
	<script src="/admin/javascripts/admin.js"></script>
</head>
<body>
	<header class="topbar">
		<div class="content">
			<a href="/admin">
				<span class="content-title">
					TMS 后台管理系统
				</span>
			</a>
			<span class="content-logout">
				<span class="content-admin-name">
					<%= admin.name %>
				</span>
				<span class="logOutBtn cp">
					退出
				</span>
			</span>
		</div>
	</header>
	<div class="main">
		<% include leftNav.html %>
		<section class="main-content-wrapper">
			<div class="main-content">
				<div class="main-content-tousu">
					<div class="main-content-head fontCenter lineHeight30">
						用户投诉与建议
					</div>
					<table border="1">
						<thead>
							<th>序号</th>
							<th>用户账户名</th>
							<th>提交时间</th>
							<th>内容</th>
							<th>删除</th>
						</thead>
						<tbody class="tac">
							<!-- 若数量小于等于10个，则直接显示 -->
							<% if (advices.length <= 10) { %>
							<% advices.forEach(function(elem, index, array){ %>
							<tr data-advice-id=<%= elem._id%>>
								<td class="number"><%= index + 1 %></td>
								<td class="userName" ><%= elem.userName %></td>
								<td class="time"><%= elem.time %></td>	
								<td class="content"><%= elem.content %></td>
								<td class="deleteTd"><button class="delete">删除</button></td>	
							</tr>
							<% }) %>
							<% } %>
							<!-- 若数目大于10个，则分页显示对应页面的状态  如：显示第2页 则是数据库 10- 19 条-->
							<!-- 若只有15条。则判断第二页的此条是否存在-->
							<% if (advices.length > 10) { %>
							<% var page = showPageNumber; %>
							<% var start = 10 * (showPageNumber - 1); %>
							<% for (var i = start; i < start + 10; i++) { %>
							<% if (advices[i]) { %>
							<tr data-advice-id=<%= advices[i]._id%>>
								<td class="number"><%= i + 1 %></td>
								<td class="userName" ><%= advices[i].userName %></td>
								<td class="time"><%= advices[i].time %></td>	
								<td class="content"><%= advices[i].content %></td>	
								<td class="deleteTd"><button class="delete">删除</button></td>	
							</tr>
							<% } %>
							<% } %>
							<% } %>
						</tbody>
					</table>
					<div class="pages fontCenter clearfix">
						<!-- 若是19条，则2页 -->
						<% var allAdvicesAmount = advices.length; %>
						<% var maxPage = Math.ceil(allAdvicesAmount / 10); %>
						<!-- <%= maxPage %> -->
						<!-- 若不是第一页，则显示上一页按钮 -->
						<span class="previous cp <% if (showPageNumber === 1) { %><%= "fade" %>
							<% } %>">
							<<上一页
						</span>

						<span class="pages-pageNumber on "><%= showPageNumber %></span> 
						<span class="nextPage cp <% if (showPageNumber === maxPage) { %><%= "fade" %>
							<% } %>">下一页>></span>
							<span class="total">共
								<span class="totalNumber"><%= maxPage %></span> 页,
							</span>
							<span class="goto">
								到第
								<input type="text" value="1" class="tac">
								页
							</span>
							<button class="confirm">确定</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script>
		$(function() {
			var $table = $(".main-content-tousu table");
			var $deleteBtn = $(".main-content-tousu table button.delete");
				// 点击页面数，则请求数据
				$(".pages .pages-pageNumber").click(function(event) {
					var number = parseInt($(this).text());
					var url = '/admin/userAdvice.html?page=' + number;
					window.location.href = url;
				});
				// 点击前一页	，若可以去前一页，则去
				$(".pages .previous").click(function(event) {
					if ($(this).hasClass('fade')) {
						return;
					}
					// 可以去
					var page = parseInt($(this).parents(".pages").find('.pages-pageNumber').text()) - 1;

					window.location.href = '/admin/userAdvice.html?page=' + page;
				});
				// 点击后一页	，若可以去后一页，则去
				$(".pages .nextPage").click(function(event) {
					if ($(this).hasClass('fade')) {
						return;
					}
					// 可以去
					var page = parseInt($(this).parents(".pages").find('.pages-pageNumber').text()) + 1;

					window.location.href = '/admin/userAdvice.html?page=' + page;
				});
				// 点击分页的确定按钮
				$(".pages  .confirm").click(function(event) {
					// 获取去的页面
					var page = $(this).parents(".pages").find('.goto input').val();

					window.location.href = '/admin/userAdvice.html?page=' + page;
				});
				// 点击删除按钮，则删除动态
				$table.on('click', 'button.delete', function(event) {
					var t = window.confirm("确认删除？");
					if (t === false) {
						return;
					}
					var $tmpDOM = $(this).parents("tr");
					// 获得状态的id
					var adviceId = $(this).parents("tr").data('adviceId');
					// console.log(adviceId)
						// 发送ajax
						$.ajax({
							url: '/admin/adminDeal/deleteAdvice',
							type: 'post',
							data: {
								adviceId: adviceId
							},
							success: function(res) {
								if (res === "ok") {
									alert("删除成功！");
									$tmpDOM.remove();
								}
							}
						})

					});
			})
</script>
</body>
</html>